{% extends 'menu.html' %}

{% block css %}
<style>
.enlace-desactivado {
    pointer-events: none; /* Evita que se pueda hacer clic */
    cursor: not-allowed;  /* Muestra el cursor de "no permitido" */
    opacity: 0.5;         /* Lo hace semitransparente */
}

.inter-scrollable-section {
    height: 55vh;
    overflow-y: scroll;
    padding: 0rem 0rem;
}
</style>
{% endblock %}
{% block title %}Ingreso a Hospitalización{% endblock %}

{% block content %}
<h5 class="title is-5">Ingreso a Hospitalización</h5>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('hospitalizacion.add_hospitalizacion') }}" class="button is-small is-info">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png') }}" alt="icon"></i></span>
                <span>Nuevo Ingreso Hosp.</span>
            </a>
        </p>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Registros Activos</p>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="field is-grouped">
                    <p class="control">
                        <label for="atencion" class="label is-small">Busqueda por Nro. de Atención:</label>
                    </p>
                    <p class="control">
                        <input type="number" name="atencion" id="atencion" class="input is-small">
                    </p>
                    <p class="control">
                        <a id="btn_buscar" class="button is-small is-info has-tooltip-bottom" data-tooltip="Realizar Busqueda">
                            <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/buscar.png') }}" alt="icon"></i></span>
                        </a>
                    </p>
                </div>
                <section class="inter-scrollable-section">
                    <table id="tablaHospitalizacion" class="table is-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 3%; font-size: small;" scope="col">Atención</th>
                                <th style="width: 10%; font-size: small;" scope="col">Fecha Ing.</th>
                                <th style="width: 8%; font-size: small;" scope="col">Hora Ing.</th>
                                <th style="width: 10%; font-size: small;" scope="col">Documento</th>
                                <th style="width: 30%; font-size: small;" scope="col">Paciente</th>
                                <th style="width: 10%; font-size: small;" scope="col">Fecha Sal.</th>
                                <th style="width: 8%; font-size: small;" scope="col">Hora Sal.</th>
                                <th style="width: 8%; font-size: small;" scope="col">No. Aut.</th>
                                <th style="width: 5%; font-size: small;" scope="col">Fact.</th>
                                <th style="width: 15%; font-size: small;" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <!-- <tbody>
                            {% for hospitalizacion in hospitalizaciones %}
                            <tr>
                                <td class="valor_atencion" style="width: 3%; font-size: small;">{{ hospitalizacion.atencion }}</td>
                                <td style="width: 10%; font-size: small;">{{ hospitalizacion.fecha_ingreso }}</td>
                                <td style="width: 10%; font-size: small;">{{ hospitalizacion.hora_ingreso }}</td>
                                <td class="valor_codigo" style="width: 10%; font-size: small;">{{ hospitalizacion.codigo }}</td>
                                <td class="valor_paciente" style="width: 30%; font-size: small;">{{ hospitalizacion.paciente }}</td>
                                <td class="valor_egreso" style="width: 10%; font-size: small;">{{ hospitalizacion.fecha_salida }}</td>
                                <td style="width: 10%; font-size: small;">{{ hospitalizacion.hora_salida }}</td>
                                <td class="valor_aut" style="width: 8%; font-size: small;">{{ hospitalizacion.aut }}</td>
                                <td class="valor_factura" style="width: 8%; font-size: small;">{{ hospitalizacion.numero_fact }}</td>
                                <td style="width: 15%;">
                                    <a class="enlace_anular_hosp button is-small has-tooltip-bottom" data-tooltip="Anular Atención" style="padding: 0em 1.0em;">
                                        <span class="icon is-normal"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/basura.png')}}" alt="icon"></i></span>
                                    </a>
                                    <a class="enlace_opciones button is-small is-primary has-tooltip-bottom js-modal-trigger" data-tooltip="Opciones" data-target="modal-opcionesHospitalizacion" style="padding: 0em 1.0em;">
                                        <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/menu.png') }}" alt="icon"></i></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody> -->
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Modal Anexos Ordenes Hospitalizacion -->
<div class="modal is-hidden" id="modal-opcionesHospitalizacion">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Menú de Opciones</h5>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            <label for="atencion_modal" class="label is-small">Atención</label>
                            <input type="text" name="atencion_modal" id="atencion_modal" class="input is-small" readonly required>
                        </p>
                        <p class="control">
                            <label for="codigo" class="label is-small">Paciente</label>
                            <input type="text" name="codigo" id="codigo" class="input is-small" readonly required>
                        </p>
                        <p class="control is-expanded">
                            <label for="paciente" class="label is-small" style="color: white;">.</label>
                            <input type="text" name="paciente" id="paciente" class="input is-small" readonly required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control">
                            <label for="fecha_egreso" class="label is-small">Fecha Salida</label>
                            <input type="text" name="fecha_egreso" id="fecha_egreso" class="input is-small" readonly required>
                        </p>
                        <p class="control">
                            <label for="nro_autorizacion" class="label is-small">Autorización</label>
                            <input type="text" name="nro_autorizacion" id="nro_autorizacion" class="input is-small" readonly required>
                        </p>
                        <p class="control">
                            <label for="nro_factura" class="label is-small">Factura</label>
                            <input type="text" name="nro_factura" id="nro_factura" class="input is-small" readonly required>
                        </p>
                    </div>
                </div>
            </div>
            <h6 class="title is-6">Seleccione</h6>
            <!-- Tarjeta opciones Salida paciente -->
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">Salida de Paciente</p>
                </div>
                <div class="card-content">
                    <div class="content">
                        <div class="field is-grouped">
                            <p class="control">
                                <a id="generar_salida_link" class="enlace_generar_salida button is-small is-danger">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/egreso.png') }}" alt="icon"></i></span>
                                    <span>Generar Salida</span>
                                </a>
                            </p>
                            <p class="control">
                                <a id="anular_salida_link" class="enlace_anular_salida button is-small is-danger">
                                    <span class="icon is-small"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                    <span>Anular Salida</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tarjeta opciones Cargue Servicios y Facturar Hosp -->
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">Cargue y Facturación Serv. Medicos</p>
                </div>
                <div class="card-content">
                    <div class="content">
                        <div class="field is-grouped">
                            <p class="control">
                                <a id="cargar_servicios_link" class="enlace_cargar_servicios button is-small is-success">
                                    <span class="icon is-small"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                                    <span>Cargar Autorización y Serv. Medicos</span>
                                </a>
                            </p>
                            <p class="control">
                                <a id="generar_factura_link" class="enlace_generar_factura button is-small is-success">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/factura.png') }}" alt="icon"></i></span>
                                    <span>Generar Factura</span>
                                </a>
                                <script>
                                    
                                </script>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tarjeta opciones ordenes -->
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">Imprimir Ordenes</p>
                </div>
                <div class="card-content">
                    <div class="content">
                        <div class="field is-grouped">
                            <p class="control">
                                <a id="orden_ingreso_link" class="button is-small">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/pdf.png') }}" alt="icon"></i></span>
                                    <span>Orden de Admisión / Ingreso</span>
                                </a>
                                <script>
                                    let orden_ingreso_link = document.getElementById("orden_ingreso_link");
                                    orden_ingreso_link.addEventListener('click', (e) => {
                                        e.preventDefault();
                                        let atencion = document.getElementById("atencion").value;
                                        window.open(
                                            orden_ingreso_link.href = `/orden_ingreso/${atencion}`,
                                            'mywin',
                                            'left=450%,top=60,position=fixed,width=600,height=600,toolbar=1,resizable=0, centerscreen=yes'
                                        );
                                        return false;
                                    })
                                </script>
                            </p>
                            <p class="control">
                                <a id="orden_egreso_link" class="button is-small">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/pdf.png') }}" alt="icon"></i></span>
                                    <span>Orden de Salida / Egreso</span>
                                </a>
                                <script>
                                    let orden_egreso_link = document.getElementById("orden_egreso_link");
                                    orden_egreso_link.addEventListener('click', (e) => {
                                        e.preventDefault();
                                        let atencion = document.getElementById("atencion").value;
                                        window.open(
                                            orden_egreso_link.href = `/orden_egreso/${atencion}`,
                                            'mywin',
                                            'left=450%,top=60,position=fixed,width=600,height=600,toolbar=1,resizable=0, centerscreen=yes'
                                        )
                                        return false;
                                    })
                                </script>
                            </p>
                        </div>
                        <div class="field is-grouped">
                            <p class="control">
                                <a id="hoja_admision_link" class="button is-small">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/pdf.png') }}" alt="icon"></i></span>
                                    <span>Hoja de Admisión con Finalidad</span>
                                </a>
                                <script>
                                    let hoja_admision_link = document.getElementById("hoja_admision_link");
                                    hoja_admision_link.addEventListener('click', (e) => {
                                        e.preventDefault();
                                        let atencion = document.getElementById("atencion").value;
                                        window.open(
                                            hoja_admision_link.href = `/hoja_admision/${atencion}`,
                                            'mywin',
                                            'left=450%,top=60,position=fixed,width=600,height=600,toolbar=1,resizable=0,centerscreen=yes'
                                        )
                                        return false;
                                    })
                                </script>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}

{% block scripts %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                Swal.fire({
                    title: "Notificación!",
                    text: "{{ message }}",
                    icon: "{{ category }}"
                })
            })
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<script src="{{ url_for('static', filename='js/hospitalizacion/hospitalizacion.js') }}"></script>

{% endblock %}