{% extends 'menu.html' %}

{% block css %}
<style>
    .inter-scrollable-section {
        height: 50vh;
        overflow-y: scroll;
        padding: 0rem 0rem;
    }
</style>
{% endblock %}
{% block title %} Nueva Referencia {% endblock %}

{% block content %}
<h5 class="title is-5">Nueva Referencia</h5>
<div class="container">
    <form id="form_addreferencia" action="#" method="post">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">Ingrese la información</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <section class="inter-scrollable-section">
                        <h6 class="title is-6">Datos Generales</h6>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="cod_referencia" class="label is-small">Codigo Referencia <strong style="color: red;">*</strong></label>
                                    <input type="text" name="cod_referencia" id="cod_referencia" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="nom_referencia" class="label is-small">Nombre Interno Referencia <strong style="color: red;">*</strong></label>
                                    <input type="text" name="nom_referencia" id="nom_referencia" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="principio_activo" class="label is-small">Principio Activo <strong style="color: red;">*</strong></label>
                                    <input type="text" name="principio_activo" id="principio_activo" class="input is-small" required>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="nom_comercial_ref" class="label is-small">Nombre Comercial (Si aplica)</label>
                                    <input type="text" name="nom_comercial_ref" id="nom_comercial_ref" class="input is-small">
                                </div>
                                <div class="field">
                                    <label for="unidad_medida" class="label is-small">Und. Medida (Ej.: MG/ML) <strong style="color: red;">*</strong></label>
                                    <input type="text" name="unidad_medida" id="unidad_medida" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="concentracion" class="label is-small">Concentración <strong style="color: red;">*</strong></label>
                                    <input type="text" name="concentracion" id="concentracion" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="forma_farm" class="label is-small">Forma Farmaceutica <strong style="color: red;">*</strong></label>
                                    <input type="text" name="forma_farm" id="forma_farm" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="forma_farm_ihce" class="label is-small">Forma Farmaceutica IHCE <strong style="color: red;">*</strong></label>
                                    <span class="select is-small">
                                        <select name="forma_farm_ihce" id="forma_farm_ihce" required>
                                            <option value=""></option>
                                            {% for forma in formas %}
                                            <option value="{{ forma.codigo }}">{{ forma.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="laboratorio" class="label is-small">Laboratorio <strong style="color: red;">*</strong></label>
                                    <input type="text" name="laboratorio" id="laboratorio" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="presentacion" class="label is-small">Presentación (Ej.: CJ * 50) <strong style="color: red;">*</strong></label>
                                    <input type="text" name="presentacion" id="presentacion" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="grupo_referencia" class="label is-small">Grupo al que pertenece <strong style="color: red;">*</strong></label>
                                    <span class="select is-small">
                                        <select name="grupo_referencia" id="grupo_referencia" required>
                                            <option value=""></option>
                                            <option value="MA">MATERIALES E INSUMOS</option>
                                            <option value="MB">MEDICAMENTOS ANTIBIOTICOS</option>
                                            <option value="MD">MEDICAMENTOS</option>
                                            <option value="MQ">MEDICAMENTOS NO POS</option>
                                            <option value="MS">MEDICAMENTOS DE CONTROL ESPECIAL</option>
                                            <option value="OX">OXIGENO</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="registro_invima" class="label is-small">Registro Sanitario INVIMA <strong style="color: red;">*</strong></label>
                                    <input type="text" name="registro_invima" id="registro_invima" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="tipo_referencia" class="label is-small">Tipo <strong style="color: red;">*</strong></label>
                                    <span class="select is-small">
                                        <select name="tipo_referencia" id="tipo_referencia">
                                            <option value=""></option>
                                            <option value="01">MEDICAMENTO CON USO CON REGISTRO SANITARIO</option>
                                            <option value="02">MEDICAMENTO CON USO COMO VITAL NO DISPONIBLE DEFINIDO POR EL INVIMA</option>
                                            <option value="03">PREPARACION MAGISTRAL</option>
                                            <option value="04">MEDICAMENTO CON USO NO INCLUIDO EN EL REGISTRO SANITARIO</option>
                                            <option value="05">MEDICAMENTO CON AUTORIZACION SANITARIA DE USO DE EMERGENCIA ASUE</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="field">
                                    <label for="regulado" class="label is-small">Regulado <strong style="color: red;">*</strong></label>
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" id="regulado" name="regulado" required/>
                                            Sí
                                        </label>
                                        <label class="radio">
                                            <input type="radio" id="regulado" name="regulado" required/>
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="serie_referencia" class="label is-small">Serie</label>
                                    <input type="text" name="serie_referencia" id="serie_referencia" class="input is-small">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <button type="button" class="button is-normal is-success">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/guardar.png') }}" alt="icon"></i></span>
                    <span>Guardar</span>
                </button>
            </p>
            <p class="control">
                <a id="btn_cancelar" class="button is-normal is-danger">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/cancelar.png') }}" alt="icon"></i></span>
                    <span>Cancelar</span>
                </a>
            </p>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/referencias/add_referencia.js') }}"></script>
{% endblock %}