{% extends 'menu.html' %}

{% block css %}
<style>
    .inter-scrollable-section {
        height: 50vh;
        overflow-y: scroll;
        padding: 0rem 0rem;
    }
</style>
{% endblock %}
{% block title %} Nueva Referencia {% endblock %}

{% block content %}
<h5 class="title is-5">Nueva Referencia</h5>
<div class="field is-grouped">
    <p class="control">
        <a id="invima_link" class="button is-small is-primary">
            <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/info.png') }}" alt="icon"></i></span>
            <span>Consulta INVIMA</span>
        </a>
        <script>
            let invima_link = document.getElementById("invima_link");
            invima_link.addEventListener('click', (e) => {
                e.preventDefault();
                window.open(
                    invima_link.href = `https://consultaregistro.invima.gov.co/Consultas/consultas/consreg_encabcum.jsp`,
                    'mywin',
                    'left=450%,top=60,position=fixed,width=800,height=800,toolbar=1,resizable=0,centerscreen=yes'
                )
                return false;
            })
        </script>
    </p>
</div>
<div class="container">
    <form id="form_addreferencia" action="{{ url_for('referencias.f_addReferencia') }}" method="post">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">Ingrese la información</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <section class="inter-scrollable-section">
                        <!-- Datos Generales medicamento y/o dispositivo -->
                        <h6 class="title is-6">Datos Generales</h6>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="cod_referencia" class="label is-small">Codigo Referencia <strong style="color: red;">*</strong></label>
                                    <input type="text" name="cod_referencia" id="cod_referencia" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="nom_referencia" class="label is-small">Nombre Interno Referencia <strong style="color: red;">*</strong></label>
                                    <input type="text" name="nom_referencia" id="nom_referencia" class="input is-small" required>
                                </div>
                                <div class="field" style="width: 2%;">
                                    <label for="cod_principio" class="label is-small">Cod. Prin. Activo</label>
                                    <input type="text" name="cod_principio" id="cod_principio" class="input is-small">
                                </div>
                                <div class="field">
                                    <label for="principio_activo" class="label is-small">Principio Activo</label>
                                    <input type="text" name="principio_activo" id="principio_activo" class="input is-small">
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="nom_comercial_ref" class="label is-small">Nombre Comercial (Si aplica)</label>
                                    <input type="text" name="nom_comercial_ref" id="nom_comercial_ref" class="input is-small">
                                </div>
                                <div class="field">
                                    <label for="unidad_medida" class="label is-small">Und. Medida (Ej.: MG/ML) <strong style="color: red;">*</strong></label>
                                    <input type="text" name="unidad_medida" id="unidad_medida" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="concentracion" class="label is-small">Concentración <strong style="color: red;">*</strong></label>
                                    <input type="text" name="concentracion" id="concentracion" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="forma_farm" class="label is-small">Forma Farmaceutica <strong style="color: red;">*</strong></label>
                                    <input type="text" name="forma_farm" id="forma_farm" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="forma_farm_ihce" class="label is-small">Forma Farmaceutica IHCE <strong style="color: red;">*</strong></label>
                                    <span class="select is-small">
                                        <select name="forma_farm_ihce" id="forma_farm_ihce" required>
                                            <option value=""></option>
                                            {% for forma in formas %}
                                            <option value="{{ forma.codigo }}">{{ forma.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="laboratorio" class="label is-small">Laboratorio (Sí aplica)</label>
                                    <input type="text" name="laboratorio" id="laboratorio" class="input is-small">
                                </div>
                                <div class="field">
                                    <label for="presentacion" class="label is-small">Presentación (Ej.: CJ * 50) <strong style="color: red;">*</strong></label>
                                    <input type="text" name="presentacion" id="presentacion" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="grupo_referencia" class="label is-small">Grupo al que pertenece <strong style="color: red;">*</strong></label>
                                    <span class="select is-small">
                                        <select name="grupo_referencia" id="grupo_referencia" required>
                                            <option value=""></option>
                                            <option value="MA">MATERIALES E INSUMOS</option>
                                            <option value="MB">MEDICAMENTOS ANTIBIOTICOS</option>
                                            <option value="MD">MEDICAMENTOS</option>
                                            <option value="MQ">MEDICAMENTOS NO POS</option>
                                            <option value="MS">MEDICAMENTOS DE CONTROL ESPECIAL</option>
                                            <option value="OX">OXIGENO</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="registro_invima" class="label is-small">Registro Sanitario INVIMA <strong style="color: red;">*</strong></label>
                                    <input type="text" name="registro_invima" id="registro_invima" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="tipo_referencia" class="label is-small">Tipo <strong style="color: red;">*</strong></label>
                                    <span class="select is-small">
                                        <select name="tipo_referencia" id="tipo_referencia">
                                            <option value=""></option>
                                            <option value="01">MEDICAMENTO CON USO CON REGISTRO SANITARIO</option>
                                            <option value="02">MEDICAMENTO CON USO COMO VITAL NO DISPONIBLE DEFINIDO POR EL INVIMA</option>
                                            <option value="03">PREPARACION MAGISTRAL</option>
                                            <option value="04">MEDICAMENTO CON USO NO INCLUIDO EN EL REGISTRO SANITARIO</option>
                                            <option value="05">MEDICAMENTO CON AUTORIZACION SANITARIA DE USO DE EMERGENCIA ASUE</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="field">
                                    <label for="regulado" class="label is-small">Regulado <strong style="color: red;">*</strong></label>
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" id="regulado" name="regulado" value="SI" required/>
                                            Sí
                                        </label>
                                        <label class="radio">
                                            <input type="radio" id="regulado" name="regulado" value="NO" required/>
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="serie_referencia" class="label is-small">Serie</label>
                                    <input type="text" name="serie_referencia" id="serie_referencia" class="input is-small">
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control is-expanded">
                                        <label for="expediente_sanitario" class="label is-small">Expediente San. <strong style="color: red;">*</strong></label>
                                        <input type="text" name="expediente_sanitario" id="expediente_sanitario" class="input is-small" required>
                                    </p>
                                    <p class="control is-expanded">
                                        <label for="consecutivo_exp" class="label is-small">Consecutivo <strong style="color: red;">*</strong></label>
                                        <input type="text" name="consecutivo_exp" id="consecutivo_exp" class="input is-small" required>
                                    </p>
                                </div>
                                <div class="field">
                                    <label for="codigo_atc" class="label is-small">Código ATC <strong style="color: red;">*</strong></label>
                                    <input type="text" name="codigo_atc" id="codigo_atc" class="input is-small" required>
                                </div>
                                <div class="field">
                                    <label for="codigo_cum" class="label is-small">Código CUM <strong style="color: red;">*</strong></label>
                                    <input type="text" name="codigo_cum" id="codigo_cum" class="input is-small" readonly required>
                                </div>
                                <div class="field">
                                    <label for="codigo_rips" class="label is-small">Código RIPS <strong style="color: red;">*</strong></label>
                                    <input type="text" name="codigo_rips" id="codigo_rips" class="input is-small" readonly required>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Datos de Operación -->
                        <h6 class="title is-6">Datos de Operación</h6>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="stock_minimo" class="label is-small">Stock Minimo <strong style="color: red;">*</strong></label>
                                    <input type="number" name="stock_minimo" id="stock_minimo" class="input is-small" min="1" required>
                                </div>
                                <div class="field">
                                    <label for="stock_maximo" class="label is-small">Stock Maximo <strong style="color: red;">*</strong></label>
                                    <input type="number" name="stock_maximo" id="stock_maximo" class="input is-small" max="50000" required>
                                </div>
                                <div class="field">
                                    <label for="dispensacion_minima" class="label is-small">Dispensación Minima <strong style="color: red;">*</strong></label>
                                    <input type="number" name="dispensacion_minima" id="dispensacion_minima" class="input is-small" min="1" required>
                                </div>
                                <div class="field">
                                    <label for="dispensacion_maxima" class="label is-small">Dispensación Maxima <strong style="color: red;">*</strong></label>
                                    <input type="number" name="dispensacion_maxima" id="dispensacion_maxima" class="input is-small" max="500" required>
                                </div>
                                <div class="field">
                                    <label for="cantidad" class="label is-small">Cantidad (Default: 1) <strong style="color: red;">*</strong></label>
                                    <input type="number" name="cantidad" id="cantidad" class="input is-small" min="1" max="1" value="1" readonly required>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="iva" class="label is-small">% IVA <strong style="color: red;">*</strong></label>
                                    <input type="number" name="iva" id="iva" class="input is-small" min="0" value="0" required>
                                </div>
                                <div class="field">
                                    <label for="descuento" class="label is-small">% Descuento <strong style="color: red;">*</strong></label>
                                    <input type="number" name="descuento" id="descuento" class="input is-small" min="0" value="0" required>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <button type="submit" class="button is-normal is-success">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/guardar.png') }}" alt="icon"></i></span>
                    <span>Guardar</span>
                </button>
            </p>
            <p class="control">
                <a id="btn_cancelar" class="button is-normal is-danger">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/cancelar.png') }}" alt="icon"></i></span>
                    <span>Cancelar</span>
                </a>
            </p>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/referencias/add_referencia.js') }}"></script>
{% endblock %}