{% extends 'menu.html' %}

{% block css %}
<style>
    .inter-scrollable-section {
        height: 35vh;
        overflow-y: scroll;
        padding: 0rem 0rem;
    }
</style>
{% endblock %}
{% block title %} Nueva Entrada de Farmacia {% endblock %}

{% block content %}
<div class="container">
    <form id="form_addEntradaFarm" action="{{ url_for('entradasFarmacia.f_addEntrada') }}" method="post">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">Nueva Entrada de Farmacia - Ingrese la información</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <input type="text" name="usuario" id="usuario" value="{{ session['name'] }}"  hidden>
                    <input type="text" name="movimiento" id="movimiento" value="ENTRADA" hidden>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-grouped">
                                <p class="control">
                                    <label for="cod_fuente" class="label is-small">Fte.</label>
                                        <span class="select is-small">
                                        <select name="cod_fuente" id="cod_fuente" required>
                                            {% for fuente in fuentes %}
                                            <option value="{{ fuente.cod_fuente }}">{{ fuente.prefijo }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                </p>
                                <p class="control">
                                    <label for="nro_entrada" class="label is-small">Nro. Entrada</label>
                                    <input type="number" name="nro_entrada" id="nro_entrada" class="input is-small" value="{{ consecutivo.0 }}" readonly required>
                                </p>
                                <p class="control">
                                    <label for="fecha_entrada" class="label is-small">Fecha Entrada <strong style="color: red;">*</strong></label>
                                    <input type="date" name="fecha_entrada" id="fecha_entrada" class="input is-small" readonly required>
                                </p>
                                <p class="control">
                                    <label for="hora_entrada" class="label is-small">Hora Entrada <strong style="color: red;">*</strong></label>
                                    <input type="time" name="hora_entrada" id="hora_entrada" class="input is-small" readonly required>
                                </p>
                                <p class="control">
                                    <label for="fecha_vencimiento" class="label is-small">Fecha Vencimiento <strong style="color: red;">*</strong></label>
                                    <input type="date" name="fecha_vencimiento" id="fecha_vencimiento" class="input is-small" readonly required>
                                </p>
                                <p class="control">
                                    <label for="concepto" class="label is-small">Concepto Entrada <strong style="color: red;">*</strong></label>
                                    <span class="select is-small">
                                        <select name="concepto" id="concepto" required>
                                            <option value=""></option>
                                            <option value="COMPRA CONTADO">COMPRA DE CONTADO</option>
                                            <option value="COMPRA CREDITO">COMPRA A CREDITO</option>
                                            <option value="AJUSTE INVENTARIO">AJUSTE DE INVENTARIO</option>
                                            <option value="INVENTARIO FISICO">INVENTARIO FISICO</option>
                                        </select>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control">
                                    <label for="cod_tercero" class="label is-small">Tercero/Proveedor <strong style="color: red;">*</strong></label>
                                    <input type="text" name="cod_tercero" id="cod_tercero" class="input is-small" readonly required>
                                </p>
                                <p class="control is-expanded">
                                    <label for="nom_tercero" class="label is-small" style="color: white;">.</label>
                                    <input type="text" name="nom_tercero" id="nom_tercero" class="input is-small" readonly required>
                                </p>
                                <p class="control">
                                    <label class="label is-small" style="color: white;">.</label>
                                    <a class="button is-small is-primary has-tooltip-bottom js-modal-trigger" data-tooltip="Buscar Tercero" data-target="modal-busquedaTercerosEntradaFarm">
                                        <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/buscar.png') }}" alt="icon"></i></span>
                                    </a>
                                </p>
                            </div>
                            <div class="field is-grouped">
                                <p class="control">
                                    <label for="prefijo_remision" class="label is-small">Prefijo Remisión</label>
                                    <input type="text" name="prefijo_remision" id="prefijo_remision" class="input is-small">
                                </p>
                                <p class="control">
                                    <label for="nro_remision" class="label is-small">No. Remisión</label>
                                    <input type="text" name="nro_remision" id="nro_remision" class="input is-small">
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control">
                                    <label for="bodega" class="label is-small">Bodega <strong style="color: red;">*</strong></label>
                                    <span class="select is-small">
                                        <select name="bodega" id="bodega">
                                            <option value=""></option>
                                            {% for bodega in bodegas %}
                                            <option value="{{ bodega.ID }}">{{ bodega.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                </p>
                                <p class="control">
                                    <label for="cod_referencia" class="label is-small">Codigo</label>
                                    <input type="text" name="cod_referencia" id="cod_referencia" class="input is-small" readonly>
                                </p>
                                <p class="control is-expanded">
                                    <label for="nom_referencia" class="label is-small">Descripción</label>
                                    <input type="text" name="nom_referencia" id="nom_referencia" class="input is-small" readonly>
                                </p>
                                <p class="control">
                                    <label for="registro_invima" class="label is-small">Reg. Invima</label>
                                    <input type="text" name="registro_invima" id="registro_invima" class="input is-small" readonly>
                                </p>
                                <p class="control">
                                    <label class="label is-small" style="color: white;">.</label>
                                    <a class="button is-small is-primary has-tooltip-bottom js-modal-trigger" data-tooltip="Buscar Medicamento" data-target="modal-busquedaMedicamentosEntradaFarm">
                                        <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/medicamentos.png')}}" alt="icon"></i></span>
                                    </a>
                                </p> 
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-grouped">
                                 <p class="control" style="width: 10%;">
                                    <label for="lote" class="label is-small">Lote</label>
                                    <input type="text" name="lote" id="lote" class="input is-small">
                                </p>
                                <p class="control" style="width: 10%;">
                                    <label for="cantidad" class="label is-small">Cant. Ing.</label>
                                    <input type="number" name="cantidad" id="cantidad" class="input is-small" min="1">
                                </p>
                                <p class="control" style="width: 10%;">
                                    <label for="vlr_unitario" class="label is-small">Vlr. unitario</label>
                                    <input type="number" name="vlr_unitario" id="vlr_unitario" class="input is-small">
                                </p>
                                <p class="control" style="width: 10%;">
                                    <label for="vlr_subtotal" class="label is-small">Subtotal. Unit.</label>
                                    <input type="number" name="vlr_subtotal" id="vlr_subtotal" class="input is-small" readonly>
                                </p>
                                <p class="control">
                                    <label for="ref_vencimiento" class="label is-small">Vencimiento</label>
                                    <input type="date" name="ref_vencimiento" id="ref_vencimiento" class="input is-small">
                                </p>
                                <p class="control" style="width: 10%;">
                                    <label for="temperatura" class="label is-small">Temp. °C</label>
                                    <input type="number" name="temperatura" id="temperatura" class="input is-small">
                                </p>
                                <p class="control">
                                    <label for="riesgo" class="label is-small">Clasif. Riesgo</label>
                                    <span class="select is-small">
                                        <select name="riesgo" id="riesgo">
                                            <option value=""></option>
                                            <option value="Riesgo I">Riesgo I</option>
                                            <option value="Riesgo II">Riesgo II</option>
                                            <option value="Riesgo III">Riesgo III</option>
                                            <option value="Riesgo IV">Riesgo IV</option>
                                        </select>
                                    </span>
                                </p>
                                <p class="control">
                                    <label for="condicion" class="label is-small">Condición</label>
                                    <span class="select is-small">
                                        <select name="condicion" id="condicion">
                                            <option value=""></option>
                                            <option value="Buen estado">Buen estado</option>
                                            <option value="Mal estado">Mal estado</option>
                                        </select>
                                    </span>
                                </p>
                                <p class="control">
                                    <label class="label is-small" style="color: white;">.</label>
                                    <a id="btn_agregar" class="button is-small is-primary">
                                        <span class="icon is-small"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        <span>Agregar</span>
                                    </a>
                                </p>
                                <p class="control">
                                    <label class="label is-small" style="color: white;">.</label>
                                    <a id="btn_remover" class="button is-small is-danger">
                                        <span class="icon is-small"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        <span>Remover</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <section class="inter-scrollable-section">
                        <input type="hidden" name="data" id="data">
                        <table id="tablaEntradasFarm" class="table is-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 2%; font-size: x-small;">Bod.</th>
                                    <th scope="col" style="width: 8%; font-size: x-small;">Cod.</th>
                                    <th scope="col" style="width: 20%; font-size: x-small;">Descr.</th>
                                    <th scope="col" style="width: 10%; font-size: x-small;">Reg. Invima</th>
                                    <th scope="col" style="width: 5%; font-size: x-small;">Lote</th>
                                    <th scope="col" style="width: 2%; font-size: x-small;">Cant.</th>
                                    <th scope="col" style="width: 5%; font-size: x-small;">Vlr. Unit.</th>
                                    <th scope="col" style="width: 3%; font-size: x-small;">Total</th>
                                    <th scope="col" style="width: 5%; font-size: x-small;">Vence</th>
                                    <th scope="col" style="width: 2%; font-size: x-small;">Temp. °C</th>
                                    <th scope="col" style="width: 5%; font-size: x-small;">Riesgo</th>
                                    <th scope="col" style="width: 5%; font-size: x-small;">Condición</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </section>
                    <hr>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-grouped">
                                 <p class="control">
                                    <label for="total" class="label">Total Liquidado:</label>
                                </p>
                                <p class="control">
                                    <input type="number" name="total" id="total" class="input" readonly required>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <button type="submit" class="button is-small is-success">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/guardar.png') }}" alt="icon"></i></span>
                    <span>Guardar</span>
                </button>
            </p>
            <p class="control">
                <a id="btn_cancelar" class="button is-small is-danger">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/cancelar.png') }}" alt="icon"></i></span>
                    <span>Cancelar</span>
                </a>
            </p>
        </div>
    </form>
</div>

<!-- Modal Para seleccionar Terceros -->
<div id="modal-busquedaTercerosEntradaFarm" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Busqueda de Tercero/Proveedor</h5>
            <table id="tablaBusquedaTercerosEntradaFarm" class="table is-striped is-hoverable" style="width: 100%; cursor: pointer;">
                <thead>
                    <tr>
                        <th scope="col" style="font-size: small; width: 20%;">Codigo Tercero</th>
                        <th scope="col" style="font-size: small; width: 80%;">Nombre Tercero</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tercero in terceros %}
                    <tr>
                        <td style="font-size: small; width: 20%;">{{ tercero.identificacion }}</td>
                        <td style="font-size: small; width: 80%;">{{ tercero.nom_tercero }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button class="modal-close is-large"></button>
</div>

<!-- Modal para seleccionar medicamentos -->
<div id="modal-busquedaMedicamentosEntradaFarm" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Busqueda de Medicamentos</h5>
            <table id="tablaBusquedaMedicamentosEntradaFarm" class="table is-striped is-hoverable" style="width: 100%; cursor: pointer;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%; font-size: small;">Cod.</th>
                        <th scope="col" style="width: 30%; font-size: small;">Medicamento</th>
                        <th scope="col" style="width: 25%; font-size: small;">Reg. Invima</th>
                    </tr>
                </thead>
                <tbody>
                    {% for referencia in referencias %}
                    <tr>
                        <td style="width: 10%; font-size: small;">{{ referencia.codigo }}</td>
                        <td style="width: 30%; font-size: small;">{{ referencia.nombre }}</td>
                        <td style="width: 25%; font-size: small;">{{ referencia.invima }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button class="modal-close is-large"></button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/entradas_farmacia/add_entrada.js') }}"></script>
{% endblock %}