{% extends 'menu.html' %}

{% block css %}
{% endblock %}
{% block title %}Nueva E.A.P.B.{% endblock %}

{% block content %}
<h5 class="title is-5">Nueva E.A.P.B.</h5>
<div class="container">
    <form id="form_addadministradora" action="{{ url_for('administradoras.f_addAdministradora') }}" method="post">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">Ingrese la información</p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <label for="cod_administradora" class="label is-small">Codigo <strong style="color: red;">*</strong></label>
                                <input class="input is-small" type="text" name="cod_administradora" id="cod_administradora" required>
                            </div>
                            <div class="field">
                                <div class="field-body">
                                    <div class="field has-addons">
                                        <p class="control is-expanded">
                                            <label for="nit_administradora" class="label is-small">Nit <strong style="color: red;">*</strong></label>
                                            <input class="input is-small" type="text" name="nit_administradora" id="nit_administradora" required>
                                        </p>
                                        <p class="control">
                                            <label for="digito_verificacion" class="label is-small">Dig. Verificación <strong style="color: red;">*</strong></label>
                                            <input class="input is-small" type="number" name="digito_verificacion" id="digito_verificacion" required>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="convenio" class="label is-small">Convenio <strong style="color: red;">*</strong></label>
                                <input class="input is-small" type="text" name="convenio" id="convenio" required>
                            </div>
                        </div>
                    </div>
                    <div class="field-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <label for="nom_administradora" class="label is-small">Nombre <strong style="color: red;">*</strong></label>
                                <input class="input is-small" type="text" name="nom_administradora" id="nom_administradora" required>
                            </div>
                            <div class="field">
                                <label for="dir_administradora" class="label is-small">Dirección <strong style="color: red;">*</strong></label>
                                <input class="input is-small" type="text" name="dir_administradora" id="dir_administradora" required>
                            </div>
                            <div class="field">
                                <label for="tel_administradora" class="label is-small">Teléfono(s) <strong style="color: red;">*</strong></label>
                                <input class="input is-small" type="text" name="tel_administradora" id="tel_administradora" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">Parametros de Contrato</p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <div class="field is-horizontal">
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="field-body">
                                                        <div class="field has-addons">
                                                            <p class="control">
                                                                <label for="cod_rips_adm" class="label is-small">Codigo RIPS <strong style="color: red;">*</strong></label>
                                                                <input class="input is-small" type="text" name="cod_rips_adm" id="cod_rips_adm" required>
                                                            </p>
                                                            <p class="control">
                                                                <label for="tipo_convenio" class="label is-small">Tipo de Convenio <strong style="color: red;">*</strong></label>
                                                                <span class="select is-small">
                                                                    <select name="tipo_convenio" id="tipo_convenio" required>
                                                                        <option value=""></option>
                                                                        <option value="1">Evento</option>
                                                                        <option value="2">Capitado</option>
                                                                        <option value="3">Asistencial</option>
                                                                        <option value="4">Promoción y Prevención</option>
                                                                    </select>
                                                                </span>
                                                            </p>
                                                            <p class="control">
                                                                <label for="vigencia_convenio" class="label is-small">Vigencia <strong style="color: red;">*</strong></label>
                                                                <span class="select is-small">
                                                                    <select name="vigencia_convenio" id="vigencia_convenio" required>
                                                                        <option value=""></option>
                                                                        <option value="1">Sí</option>
                                                                        <option value="0">No</option>
                                                                    </select>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field is-horizontal">
                                            <div class="field-body">
                                                <div class="field">
                                                    <label for="fecha_inicio_conv" class="label is-small">Inicio Contrato <strong style="color: red;">*</strong></label>
                                                    <input class="input is-small" type="date" name="fecha_inicio_conv" id="fecha_inicio_conv" required>
                                                </div>
                                                <div class="field">
                                                    <label for="fecha_fin_conv" class="label is-small">Fin Contrato <strong style="color: red;">*</strong></label>
                                                    <input class="input is-small" type="date" name="fecha_fin_conv" id="fecha_fin_conv" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field is-horizontal">
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="field-body">
                                                        <div class="field has-addons">
                                                            <p class="control">
                                                                <label for="forma_pago" class="label is-small">F. de Pago <strong style="color: red;">*</strong></label>
                                                                <span class="select is-small">
                                                                    <select name="forma_pago" id="forma_pago" required>
                                                                        <option value=""></option>
                                                                        <option value="1">Contado</option>
                                                                        <option value="2">Credito</option>
                                                                    </select>
                                                                </span>
                                                            </p>
                                                            <p class="control">
                                                                <label for="poblacion" class="label is-small">Población <strong style="color: red;">*</strong></label>
                                                                <span class="select is-small">
                                                                    <select name="poblacion" id="poblacion" required>
                                                                        <option value=""></option>
                                                                        <option value="1">Sí</option>
                                                                        <option value="0">No</option>
                                                                    </select>
                                                                </span>
                                                            </p>
                                                            <p class="control">
                                                                <label for="tarifa_adm" class="label is-small">Tarifa <strong style="color: red;">*</strong></label>
                                                                <span class="select is-small">
                                                                    <select name="tarifa_adm" id="tarifa_adm" required>
                                                                        <option value=""></option>
                                                                        {% for tarf in tarfs %}
                                                                        <option value="{{ tarf.id_tarifa }}">{{ tarf.nom_tarifa }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </span>
                                                            </p>
                                                            <p class="control">
                                                                <label for="plan" class="label is-small">Plan <strong style="color: red;">*</strong></label>
                                                                <span class="select is-small">
                                                                    <select name="plan" id="plan" required>
                                                                        <option value=""></option>
                                                                        <option value="1">Contributivo</option>
                                                                        <option value="2">Subsidiado</option>
                                                                        <option value="3">Particular</option>
                                                                        <option value="4">Vinculado</option>
                                                                        <option value="5">Reg. Excepción</option>
                                                                        <option value="6">Reg. Especial</option>
                                                                        <option value="7">Otro</option>
                                                                    </select>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="plan_beneficios" class="label is-small">Plan de Beneficios <strong style="color: red;">*</strong></label>
                                <span class="select is-small">
                                    <select name="plan_beneficios" id="plan_beneficios" required>
                                        <option value=""></option>
                                        {% for cobertura in coberturas %}
                                        <option value="{{ cobertura.cod_cobertura }}">{{ cobertura.nom_cobertura }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                            </div>
                            <div class="field">
                                <label for="concepto_recaudo" class="label is-small">Concepto Recaudo <strong style="color: red;">*</strong></label>
                                <span class="select is-small">
                                    <select name="concepto_recaudo" id="concepto_recaudo" required>
                                        <option value=""></option>
                                        {% for concepto in conceptos %}
                                        <option value="{{ concepto.con_concepto }}">{{ concepto.nom_concepto }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                            </div>
                            <div class="field">
                                <label for="modalidad_pago" class="label is-small">Modalidad de pago <strong style="color: red;">*</strong></label>
                                <span class="select is-small">
                                    <select name="modalidad_pago" id="modalidad_pago">
                                        <option value=""></option>
                                        {% for modalidad in modalidades %}
                                        <option value="{{ modalidad.cod_modalidad }}">{{ modalidad.nom_modalidad }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                        <button type="submit" class="button is-success">
                            <span class="icon"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/guardar.png') }}" alt="icon"></i></span>
                            <span>Guardar</span>
                        </button>
                    </p>
                    <p class="control">
                        <a onclick="confirmacion()" class="button is-danger">
                            <span class="icon"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/cancelar.png') }}" alt="icon"></i></span>
                            <span>Cancelar</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/administradoras/add_administradora.js') }}"></script>
<script>
    const confirmacion = () => {
        Swal.fire({
            title: "Estas Seguro(a)?",
            text: "Los cambios no se guardaran.",
            icon: "question",
            confirmButtonText: "Si, Cancelar!",
            confirmButtonColor: "#48c78e",
            cancelButtonText: "No, Continuar",
            cancelButtonColor: "#f14668",
            showCancelButton: true,
            allowOutsideClick: false
        })
        .then((result) => {
            if(result.isConfirmed){
                window.location.href = "{{ url_for('administradoras.administradoras') }}"
            }
        })
    }
</script>
{% endblock %}