{% extends 'menu.html' %}

{% block css %}
{% endblock %}
{% block title %}E.A.P.B.- Administradoras{% endblock %}

{% block content %}
<h5 class="title is-5">E.A.P.B.- Administradoras</h5>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('administradoras.add_administradora') }}" class="button is-small is-info">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png') }}" alt="icon"></i></span>
                <span>Nueva E.A.P.B.</span>
            </a>
        </p>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Registros</p>
        </header>
        <div class="card-content">
            <div class="content">
                <table id="tablaAdministradoras" class="table is-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 10%;" scope="col">Codigo</th>
                            <th style="width: 20%;" scope="col">Nit</th>
                            <th style="width: 15%;" scope="col">Convenio</th>
                            <th style="width: 40%;" scope="col">Nombre</th>
                            <th style="width: 15%;" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                        <tr>
                            <td class="valor_codigoadmin" style="width: 10%;">{{ admin.codigo }}</td>
                            <td style="width: 20%;">{{ admin.nit }}</td>
                            <td style="width: 15%;">{{ admin.convenio }}</td>
                            <td style="width: 40%;">{{ admin.nombre }}</td>
                            <td style="width: 15%;"> 
                                <a href="{{ url_for('administradoras.update_administradora', codigo = admin.codigo) }}" class="button is-small is-primary has-tooltip-bottom" data-tooltip="Editar" style="padding: 0em 1.0em;">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/editar.png') }}" alt="icon"></i></span>
                                </a>
                                <a class="enlace_eliminar button is-small is-danger has-tooltip-bottom" data-tooltip="Eliminar" style="padding: 0em 1.0em;">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/basura.png') }}" alt="icon"></i></span>
                                </a>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                Swal.fire({
                    title: "Notificación!",
                    text: "{{ message }}",
                    icon: "{{ category }}"
                });
            });
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
    const confirmacion = (codigoadmin) => {
        Swal.fire({
            title: "Esta Seguro?",
            text: "Esta acción no se puede revertir!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Si, Eliminar!",
            confirmButtonColor: "#48c78e",
            cancelButtonText: "No, Cancelar",
            cancelButtonColor: "#f14668",
            showCancelButton: true,
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/drop_administradora/${codigoadmin}`
            }
        });
    }

    $(document).ready(function() {
        $('#tablaAdministradoras').off('click', '.enlace_eliminar').on('click', '.enlace_eliminar', function(event) {
            event.preventDefault();
            const fila = $(this).closest('tr');
            codigoadmin = fila.find('.valor_codigoadmin').text();
            confirmacion(codigoadmin);
        })
    })
</script>
{% endblock %}