{% extends 'menu.html' %}

{% block css %}
<style>
    .inter-scrollable-section {
        height: 75vh;
        overflow-y: scroll;
        padding: 0rem 0rem;
    }
</style>
{% endblock %}
{% block title %}Nueva Epicrisis{% endblock %}

{% block content %}
<h5 class="title is-5">Nueva Epicrisis</h5>
<div class="container">
    <form id="form_addepicrisis" action="{{ url_for('epicrisis.f_addEpicrisis') }}" method="post">
        <section class="inter-scrollable-section">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Datos del Paciente</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <input type="text" name="medico" id="medico" value="{{ session['document'] }}" hidden>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control">
                                        <label for="tipo_doc" class="label is-small">Tipo Documento</label>
                                        <input type="text" name="tipo_doc" id="tipo_doc" class="input is-small" readonly>
                                    </p>
                                    <p class="control">
                                        <label for="codigo" class="label is-small">Paciente</label>
                                        <input type="text" name="codigo" id="codigo" class="input is-small" readonly>
                                    </p>
                                    <p class="control is-expanded">
                                        <label for="paciente" class="label is-small" style="color: white;">.</label>
                                        <input type="text" name="paciente" id="paciente" class="input is-small" readonly>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" style="color: white;">.</label>
                                        <a class="button is-small is-info js-modal-trigger has-tooltip-bottom" data-target="modal_busquedaPacientesEpicrisis" data-tooltip="Buscar Paciente">
                                            <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/usuario.png') }}" alt="icon"></i></span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" style="color: white;">.</label>
                                        <a id="btn_consultar" class="button is-small is-primary has-tooltip-bottom" data-tooltip="Consultar Atenciones">
                                            <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/buscar.png') }}" alt="icon"></i></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Datos de Atención -->
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Datos de Epicrisis</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label for="atencion" class="label is-small">Atención/Historia <strong style="color: red;">*</strong></label>
                                    <input type="text" name="atencion" id="atencion" class="input is-small" readonly required>
                                </div>
                                <div class="field has-addons">
                                    <p class="control">
                                        <label for="fecha_ingreso" class="label is-small">Fecha Ingreso <strong style="color: red;">*</strong></label>
                                        <input type="text" name="fecha_ingreso" id="fecha_ingreso" class="input is-small" readonly required>
                                    </p>
                                    <p class="control">
                                        <label for="hora_ingreso" class="label is-small">Hora Ingreso <strong style="color: red;">*</strong></label>
                                        <input type="text" name="hora_ingreso" id="hora_ingreso" class="input is-small" readonly required>
                                    </p>
                                    <p class="control">
                                        <label for="servicio_ingreso" class="label is-small">Servicio Ingreso <strong style="color: red;">*</strong></label>
                                        <input type="text" name="servicio_ingreso" id="servicio_ingreso" class="input is-small" readonly required>
                                    </p>
                                </div>
                                <div class="field has-addons">
                                    <p class="control">
                                        <label for="fecha_salida" class="label is-small">Fecha Salida <strong style="color: red;">*</strong></label>
                                        <input type="text" name="fecha_salida" id="fecha_salida" class="input is-small" readonly required>
                                    </p>
                                    <p class="control">
                                        <label for="hora_salida" class="label is-small">Hora Salida <strong style="color: red;">*</strong></label>
                                        <input type="text" name="hora_salida" id="hora_salida" class="input is-small" readonly required>
                                    </p>
                                    <p class="control">
                                        <label for="servicio_salida" class="label is-small">Servicio Salida <strong style="color: red;">*</strong></label>
                                        <input type="text" name="servicio_salida" id="servicio_salida" class="input is-small" readonly required>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Motivo Consulta y Enfermedad Actual -->
                        <div class="columns">
                            <div class="column">
                                <label for="motivo_consulta" class="label is-small">Motivo de Consulta <strong style="color: red;">*</strong></label>
                                <p class="control">
                                    <textarea name="motivo_consulta" id="motivo_consulta" class="textarea is-small" style="height: 20vh;" required></textarea>
                                </p>
                            </div>
                            <div class="column">
                                <label for="enf_actual" class="label is-small">Enfermedad Actual <strong style="color: red;">*</strong></label>
                                <p class="control">
                                    <textarea name="enf_actual" id="enf_actual" class="textarea is-small" style="height: 20vh;" required></textarea>
                                </p>
                            </div>
                        </div>
                        <!-- Antecedentes y Hallazgo de examen fisico -->
                        <div class="columns">
                            <div class="column">
                                <label for="antecedentes" class="label is-small">Antecedentes Personales y Familiares <strong style="color: red;">*</strong></label>
                                <p class="control">
                                    <textarea name="antecedentes" id="antecedentes" class="textarea is-small" style="height: 20vh;" required></textarea>
                                </p>
                            </div>
                            <div class="column">
                                <label for="examen_fisico" class="label is-small">Hallazgos de Examen Fisico <strong style="color: red;">*</strong></label>
                                <p class="control">
                                    <textarea name="examen_fisico" id="examen_fisico" class="textarea is-small" style="height: 20vh;" required></textarea>
                                </p>
                            </div>
                        </div>
                        <!-- Diagnostico de Ingreso -->
                        <div class="field is-horizontal">
                            <div class="field-label" style="font-size: small;">
                                <label for="cod_diag_ingreso" class="label is-small">Diagnostico de Ingreso: <strong style="color: red;">*</strong></label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control">
                                        <input type="text" name="cod_diag_ingreso" id="cod_diag_ingreso" class="input is-small" readonly required>
                                    </p>
                                    <p class="control is-expanded">
                                        <input type="text" name="nom_diag_ingreso" id="nom_diag_ingreso" class="input is-small" readonly required>
                                    </p>
                                    <p class="control">
                                        <a class="button is-small has-tooltip-bottom js-modal-trigger" data-tooltip="Buscar Diagnostico" data-target="modal_busquedaDiagnosticosEpicrisis">...</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Conductas y Cambios en paciente -->
                        <div class="columns">
                            <div class="column">
                                <label for="conducta" class="label is-small">Conductas <strong style="color: red;">*</strong></label>
                                <p class="control">
                                    <textarea name="conducta" id="conducta" class="textarea is-small" style="height: 20vh;" required></textarea>
                                </p>
                            </div>
                            <div class="column">
                                <label for="cambio" class="label is-small">Cambios en paciente que modifiquen manejo <strong style="color: red;">*</strong></label>
                                <p class="control">
                                    <textarea name="cambio" id="cambio" class="textarea is-small" style="height: 20vh;" required></textarea>
                                </p>
                            </div>
                        </div>
                        <!-- Procedimientos y Justificación -->
                        <div class="columns">
                            <div class="column">
                                <label for="procedimientos" class="label is-small">Procedimientos Diagnosticos <strong style="color: red;">*</strong></label>
                                <p class="control">
                                    <textarea name="procedimientos" id="procedimientos" class="textarea is-small" style="height: 20vh;" required></textarea>
                                </p>
                            </div>
                            <div class="column">
                                <label for="justificacion" class="label is-small">Justificación de Indicaciones Terapeuticas <strong style="color: red;">*</strong></label>
                                <p class="control">
                                    <textarea name="justificacion" id="justificacion" class="textarea is-small" style="height: 20vh;" required></textarea>
                                </p>
                            </div>
                        </div>
                        <!-- Diagnostico de Egreso -->
                        <div class="field is-horizontal">
                            <div class="field-label" style="font-size: small;">
                                <label for="cod_diag_egreso" class="label is-small">Diagnostico de Egreso: <strong style="color: red;">*</strong></label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control">
                                        <input type="text" name="cod_diag_egreso" id="cod_diag_egreso" class="input is-small" readonly required>
                                    </p>
                                    <p class="control is-expanded">
                                        <input type="text" name="nom_diag_egreso" id="nom_diag_egreso" class="input is-small" readonly required>
                                    </p>
                                    <p class="control">
                                        <a class="button is-small has-tooltip-bottom js-modal-trigger" data-tooltip="Buscar Diagnostico" data-target="modal_busquedaDiagnosticosEpicrisis">...</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <button id="corregir_diagnosticos" type="button" class="button is-small is-primary">
                                            <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/basura.png')}}" alt="icon"></i></span>
                                            <span>Corregir Diagnosticos</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Plan de Manejo y Estado a la Salida -->
                        <div class="columns">
                            <div class="column">
                                <label for="plan_manejo" class="label is-small">Plan de Manejo Ambulatorio <strong style="color: red;">*</strong></label>
                                <p class="control">
                                    <textarea name="plan_manejo" id="plan_manejo" class="textarea is-small" style="height: 20vh;" required></textarea>
                                </p>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label for="estado_salida" class="label is-small">Estado a la Salida <strong style="color: red;">*</strong></label>
                                    <span class="select is-small">
                                        <select name="estado_salida" id="estado_salida" required>
                                            <option value=""></option>
                                            <option value="01">PACIENTE CON DESTINO A SU DOMICILIO</option>
                                            <option value="02">PACIENTE MUERTO</option>
                                            <option value="03">PACIENTE DERIVADO A OTRO SERVICIO</option>
                                            <option value="04">REFERIDO A OTRA INSTITUCIÓN</option>
                                            <option value="05">CONTRA REFERIDO A OTRA INSTITUCIÓN</option>
                                            <option value="06">DERIVADO O REFERIDO A HOSPITALIZACION DOMICILIARIA</option>
                                            <option value="07">DERIVADO A SERVICIO SOCIAL</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="field">
                                    <label for="remitido_a" class="label is-small">Si fue remitido indique</label>
                                    <input type="text" name="remitido_a" id="remitido_a" class="input is-small">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Botones -->
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <button type="submit" class="button is-small is-success">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/guardar.png') }}" alt="icon"></i></span>
                    <span>Guardar</span>
                </button>
            </p>
            <p class="control">
                <a id="btn_cancelar" class="button is-small is-danger">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/cancelar.png') }}" alt="icon"></i></span>
                    <span>Cancelar</span>
                </a>
            </p>
        </div>
    </form>
</div>

<!-- Modal Busqueda de Pacientes -->
<div id="modal_busquedaPacientesEpicrisis" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Busqueda de Pacientes</h5>
            <table id="tablaBusquedaPacientesEpicrisis" class="table is-striped is-hoverable" style="width: 100%; cursor: pointer;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">Tipo Doc.</th>
                        <th scope="col" style="width: 15%;">Documento</th>
                        <th scope="col" style="width: 75%;">Nombre Completo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}
                    <tr>
                        <td style="width: 10%;">{{ paciente.tipo }}</td>
                        <td style="width: 15%;">{{ paciente.documento }}</td>
                        <td style="width: 75%;">{{ paciente.nombre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-- Modal con pestañas de atenciones -->
<div id="modal_resultadoAtenciones" class="modal is-hidden">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box is-large">
            <h5 class="title is-5">Consultar Atenciones</h5>
            <div class="tabs is-boxed">
                <!-- Lista para Pestañas -->
                <ul>
                    <li id="tab_consultas" class="is-active">
                        <a>
                            <span>Atenciones Consulta</span>
                        </a>
                    </li>
                    <li id="tab_hosp">
                        <a>
                            <span>Atenciones Hosp.</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <!-- Contenido Pestaña Atenciones Consulta -->
                <div id="tabAtencionesConsultas">
                    <table id="tablaAtencionesConsultaEpicrisis" class="table is-striped" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 5%; font-size: x-small;">Atención</th>
                                <th scope="col" style="width: 20%; font-size: x-small;">Ingreso</th>
                                <th scope="col" style="width: 10%; font-size: x-small;">Hora Ingreso</th>
                                <th scope="col" style="width: 20%; font-size: x-small;">Salida</th>
                                <th scope="col" style="width: 10%; font-size: x-small;">Hora Salida</th>
                                <th scope="col" style="width: 20%; font-size: x-small;">Servicio</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- Contenido Pestaña Atenciones Hosp. -->
                <div id="tabAtencionesHosp" class="is-hidden">
                    <table id="tablaAtencionesHospEpicrisis" class="table is-striped" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 5%; font-size: x-small;">Atención</th>
                                <th scope="col" style="width: 20%; font-size: x-small;">Ingreso</th>
                                <th scope="col" style="width: 10%; font-size: x-small;">Hora Ingreso</th>
                                <th scope="col" style="width: 20%; font-size: x-small;">Salida</th>
                                <th scope="col" style="width: 10%; font-size: x-small;">Hora Salida</th>
                                <th scope="col" style="width: 20%; font-size: x-small;">Servicio</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-- Modal Busqueda de Diagnosticos -->
<div id="modal_busquedaDiagnosticosEpicrisis" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Busqueda de Diagnosticos</h5>
            <table id="tablaBusquedaDiagnosticosEpicrisis" class="table is-striped is-hoverable" style="width: 100%; cursor: pointer;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 25%;">Código</th>
                        <th scope="col" style="width: 75%;">Diagnostico</th>
                    </tr>
                </thead>
                <tbody>
                    {% for diagnostico in diagnosticos %}
                    <tr>
                        <td style="width: 25%;">{{ diagnostico.codigo }}</td>
                        <td style="width: 75%;">{{ diagnostico.nombre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/epicrisis/add_epicrisis.js') }}"></script>
{% endblock %}