{% extends 'menu.html' %}

{% block css %}
<style>
    .inter-scrollable-section {
        height: 58vh;
        overflow-y: scroll;
        padding: 0rem 0rem;
    }
</style>
{% endblock %}
{% block title %}Epicrisis{% endblock %}

{% block content %}
<h5 class="title is-5">Epicrisis (Resumen Clínico)</h5>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('epicrisis.add_epicrisis') }}" class="button is-small is-info">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png') }}" alt="icon"></i></span>
                <span>Nueva Epicrisis</span>
            </a>
        </p>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Registros</p>
        </header>
        <div class="card-content">
            <div class="content">
                <input type="text" name="medico" id="medico" value="{{ session['document'] }}" hidden>
                <div class="field is-grouped">
                    <!-- Busqueda por documento de paciente -->
                    <p class="control">
                        <label for="num_doc" class="label is-small">Busqueda por No. Documento Paciente:</label>
                    </p>
                    <p class="control">
                        <input type="text" name="num_doc" id="num_doc" class="input is-small">
                    </p>
                    <p class="control">
                        <a id="btn_buscar" class="button is-small is-info has-tooltip-bottom" data-tooltip="Buscar Registros">
                            <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/buscar.png') }}" alt="icon"></i></span>
                        </a>
                    </p>
                </div>
                <section class="inter-scrollable-section">
                    <!-- Tabla Principal de Epicrisis -->
                    <table id="tablaEpicrisis" class="table is-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 10%; font-size: small;">ID</th>
                                <th scope="col" style="width: 5%; font-size: small;">Atención</th>
                                <th scope="col" style="width: 10%; font-size: small;">Documento</th>
                                <th scope="col" style="width: 35%; font-size: small;">Paciente</th>
                                <th scope="col" style="width: 10%; font-size: small;">Fecha Reg.</th>
                                <th scope="col" style="width: 10%; font-size: small;">Hora Reg.</th>
                                <th scope="col" style="width: 20%; font-size: small;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Modal Visor PDF -->
<div id="modal_vistaPreviaEpicrisis" class="modal is-hidden">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Vista Previa</h5>
            <iframe id="iframeEpicrisis" frameborder="1" width="100%" height="600"></iframe>
        </div>
    </div>
    <button id="btn_cerrarModal" class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}

{% block scripts %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            Swal.fire({
                title: "Notificación",
                text: "{{ message }}",
                icon: "{{ category }}"
            })
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<script src="{{ url_for('static', filename='js/epicrisis/epicrisis.js') }}"></script>
{% endblock %}