{% extends 'menu.html' %}

{% block css %}
<style>
.inter-scrollable-section {
    max-height: 515px;
    overflow-y: auto;
    padding: 0rem 0rem;
}
</style>
{% endblock %}
{% block title %} Nuevo Paciente {% endblock %}

{% block content %}
<h5 class="title is-5">Nuevo Paciente</h5>
<div class="container">
    <form action="{{ url_for('pacientes.f_addPaciente') }}" method="post">
        <section class="inter-scrollable-section">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Datos Personales</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label is-small">Tipo y Nro. Documento <strong style="color: red;">*</strong></label>
                                    <div class="field-body">
                                        <div class="field has-addons">
                                            <p class="control">
                                                <span class="select is-small">
                                                    <select name="tipoDoc" id="tipoDoc" required>
                                                        <option value=""></option>
                                                        <option value="AS">AS</option>
                                                        <option value="CC">CC</option>
                                                        <option value="CD">CD</option>
                                                        <option value="CE">CE</option>
                                                        <option value="MS">MS</option>
                                                        <option value="PA">PA</option>
                                                        <option value="PE">PE</option>
                                                        <option value="PT">PT</option>
                                                        <option value="RC">RC</option>
                                                        <option value="TI">TI</option>
                                                    </select>
                                                </span>
                                            </p>
                                            <p class="control is-expanded">
                                                <input class="input is-small" type="text" name="numDoc" id="numDoc" required>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <p class="control">
                                        <label class="label is-small" for="papellido">Primer Apellido <strong style="color: red;">*</strong></label>
                                        <input class="input is-small" type="text" name="papellido" id="papellido" required>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label is-small" for="sapellido">Segundo Apellido <strong style="color: red;">*</strong></label>
                                    <input class="input is-small" type="text" name="sapellido" id="sapellido" required>
                                </div>
                                <div class="field">
                                    <label class="label is-small" for="pnombre">Primer Nombre <strong style="color: red;">*</strong></label>
                                    <input class="input is-small" type="text" name="pnombre" id="pnombre" required>
                                </div>
                                <div class="field">
                                    <label class="label is-small" for="snombre">Segundo Nombre</label>
                                    <input class="input is-small" type="text" name="snombre" id="snombre">
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="field-body">
                                        <div class="field has-addons">
                                            <p class="control">
                                                <label class="label is-small" for="fechaNac">Fecha Nacimiento <strong style="color: red;">*</strong></label>
                                                <input class="input is-small" type="date" name="fechaNac" id="fechaNac" required>
                                            </p>
                                            <p class="control">
                                                <label class="label is-small" for="edad">Edad</label>
                                                <input class="input is-small" type="number" name="edad" id="edad" readonly>
                                            </p>
                                            <p class="control">
                                                <label class="label is-small" for="tipo_edad" style="color: white;">.</label>
                                                <input class="input is-small" type="text" name="tipo_edad" id="tipo_edad" value="AÑOS" readonly>
                                            </p>
                                        </div>    
                                    </div>
                                </div>
                                <div class="field is-grouped">
                                    <p class="control">
                                        <label class="label is-small" for="sexo">Sexo <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="sexo" id="sexo" required>
                                                <option value=""></option>
                                                <option value="1">MASCULINO</option>
                                                <option value="2">FEMENINO</option>
                                                <option value="3">INDETERMINADO</option>
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control is-expanded">
                                        <label class="label is-small" for="direccion">Dirección <strong style="color: red;">*</strong></label>
                                        <input class="input is-small" type="text" name="direccion" id="direccion" required>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="telefono">Telefono Fijo <strong style="color: red;">*</strong></label>
                                        <input class="input is-small" type="text" name="telefono" id="telefono" required>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="movil">Telefono Movil <strong style="color: red;">*</strong></label>
                                        <input class="input is-small" type="text" name="movil" id="movil" required>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field is-grouped">
                                    <p class="control is-expanded">
                                        <label class="label is-small" for="barrio">Barrio <strong style="color: red;">*</strong></label>
                                        <input class="input is-small" type="text" name="barrio" id="barrio" required>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="zona">Zona <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="zona" id="zona" required>
                                                <option value=""></option>
                                                <option value="1">URBANA</option>
                                                <option value="2">RURAL</option>
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="depto">Departamento <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="depto" id="depto" onchange="" required></select>
                                        </span>
                                    </p>
                                    <p class="control" hidden>
                                        <input class="input is-small" type="text" name="nom_depto" id="nom_depto" readonly required>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="munic">Distrito/Municipio <strong style="color: red">*</strong></label>
                                        <span class="select is-small">
                                            <select name="munic" id="munic" required></select>
                                        </span>
                                    </p>
                                    <p class="control" hidden>
                                        <input class="input is-small" type="text" name="nom_munic" id="nom_munic" readonly required>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="nacionalidad">Nacionalidad <strong style="color: red;">*</strong></label>
                                        <input class="input is-small" type="text" name="nacionalidad" id="nacionalidad" required>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <label class="label is-small" for="pais">País Origen <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="pais" id="pais" required>
                                                <option value=""></option>
                                                {% for p in pais %}
                                                <option value="{{ p.id_pais }}">{{ p.nom_pais }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="paisRes">País Residencia <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="paisRes" id="paisRes" required>
                                                <option value=""></option>
                                                {% for p in pais %}
                                                    <option value="{{ p.id_pais }}">{{ p.nom_pais }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control is-expanded">
                                        <label class="label is-small" for="correo">E-mail <strong style="color: red;">*</strong></label>
                                        <input class="input is-small" type="email" name="correo" id="correo" required>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Datos Adicionales</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <label class="label is-small" for="estCivil">Estado Civil <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="estCivil" id="estCivil" required>
                                                <option value=""></option>
                                                <option value="1">SOLTERO(A)</option>
                                                <option value="2">CASADO(A)</option>
                                                <option value="3">SEPARADO(A)</option>
                                                <option value="4">VIUDO(A)</option>
                                                <option value="5">UNIÓN LIBRE</option>
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="nivelEdu">Nivel de Escolaridad <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="nivelEdu" id="nivelEdu" required>
                                                <option value=""></option>
                                                {% for nivel in niveles %}
                                                <option value="{{ nivel.id_nivel }}">{{ nivel.nom_nivel }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="ocupacion">Ocupación <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="ocupacion" id="ocupacion" required>
                                                <option value=""></option>
                                                {% for ocupacion in ocupaciones %}
                                                <option value="{{ ocupacion.id_ocupacion }}">{{ ocupacion.nom_ocupacion }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <label class="checkbox" for="noTiene">
                            <input type="checkbox" id="noTiene">
                            No Tiene
                        </label>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label is-small" for="acompanante">Acompañante <strong style="color: red;">*</strong></label>
                                    <input class="input is-small" type="text" name="acompanante" id="acompanante" required>
                                </div>
                                <div class="field">
                                    <label class="label is-small" for="telAcompanante">Teléfono <strong style="color: red;">*</strong></label>
                                    <input class="input is-small" type="text" name="telAcompanante" id="telAcompanante" required>
                                </div>
                                <div class="field">
                                    <label class="label is-small" for="parentAcompanante">Parentesco <strong style="color: red;">*</strong></label>
                                    <input class="input is-small" type="text" name="parentAcompanante" id="parentAcompanante" required>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label is-small" for="responsable">Responsable <strong style="color: red;">*</strong></label>
                                    <input class="input is-small" type="text" name="responsable" id="responsable" required>
                                </div>
                                <div class="field">
                                    <label class="label is-small" for="telResponsable">Teléfono <strong style="color: red;">*</strong></label>
                                    <input class="input is-small" type="text" name="telResponsable" id="telResponsable" required>
                                </div>
                                <div class="field">
                                    <label class="label is-small" for="parentResponsable">Parentesco <strong style="color: red;">*</strong></label>
                                    <input class="input is-small" type="text" name="parentResponsable" id="parentResponsable" required>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <label class="label is-small" for="religion">Religión</label>
                                        <input class="input is-small" type="text" name="religion" id="religion">
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="etnia">Etnia <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                                <select name="etnia" id="etnia" required>
                                                    <option value=""></option>
                                                {% for e in etnia %}
                                                    <option value="{{ e.id_etnia }}">{{ e.nom_etnia }}</option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Datos Administradora P.B.</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <label class="label is-small" for="regimen">Regimen <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="regimen" id="regimen" required>
                                                <option value=""></option>
                                                <option value="01">Contributivo cotizante</option>
                                                <option value="02">Contributivo beneficiario</option>
                                                <option value="03">Contributivo adicional</option>
                                                <option value="04">Subsidiado</option>
                                                <option value="05">No afiliado</option>
                                                <option value="06">Especial o Excepcion cotizante</option>
                                                <option value="07">Especial o Excepcion beneficiario</option>
                                                <option value="08">Personas privadas de la libertad a cargo del Fondo Nacional de Salud</option>
                                                <option value="09">Tomador / Amparado ARL</option>
                                                <option value="10">Tomador / Amparado SOAT</option>
                                                <option value="11">Tomador / Amparado Planes voluntarios de salud</option>
                                                <option value="12">Particular</option>
                                                <option value="13">Especial o Exepcion no cotizante Ley 352 de 1997</option>
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="afiliacion">Afiliación</label>
                                        <span class="select is-small">
                                            <select name="afiliacion" id="afiliacion">
                                                <option value=""></option>
                                                <option value="1">C</option>
                                                <option value="2">B</option>
                                                <option value="3">E</option>
                                                <option value="4">A</option>
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control">
                                        <label class="label is-small" for="nivel_afi">Nivel Afiliación <strong style="color: red;">*</strong></label>
                                        <span class="select is-small">
                                            <select name="nivel_afi" id="nivel_afi" required>
                                                <option value=""></option>
                                                <option value="1">Nivel 1</option>
                                                <option value="2">Nivel 2</option>
                                                <option value="3">Nivel 3</option>
                                            </select>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <input type="text" name="tipo_paciente" id="tipo_paciente" value="PERSONA_NATURAL" hidden>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <button class="button is-success" id="guardarPac">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/guardar.png') }}" alt="icon"></i></span>
                    <span>Guardar</span>
                </button>
            </p>
            <p class="control">
                <a onclick="confirmacion()" class="button is-danger">
                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/cancelar.png') }}" alt="icon"></i></span>
                    <span>Cancelar</span>
                </a>
            </p>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/pacientes/add_pacientes.js') }}"></script>
<script>
    const confirmacion = () => {
        Swal.fire({
            title: "Estas Seguro(a)?",
            text: "Los cambios no se guardaran!",
            icon: "question",
            confirmButtonText: "Si, Cancelar!",
            confirmButtonColor: "#48c78e",
            cancelButtonText: "No, Continuar",
            cancelButtonColor: "#f14668",
            showCancelButton: true,
            allowOutsideClick: false
        }).then((result) => {
            if(result.isConfirmed){
                window.location.href = `{{ url_for('pacientes.pacientes') }}`
            }
        })
    }
</script>
{% endblock %}