{% extends 'menu.html' %}

{% block css %}
<style>
    .enlace-desactivado {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
    }

    .inter-scrollable-section {
        height: 55vh;
        overflow-y: scroll;
        padding: 0rem 0rem;
    }
</style>
{% endblock %}
{% block title %}Ing. Consulta Externa{% endblock %}

{% block content %}
<h5 class="title is-5">Ingreso a Consulta Externa</h5>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('consultas.add_consulta') }}" class="button is-small is-info">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png') }}" alt="icon"></i></span>
                <span>Nuevo Ingreso C.E.</span>
            </a>
        </p>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Registros</p>
        </header>
        <div class="card-content">
            <div class="content">
                <!-- Busqueda por Numero de Atención -->
                <div class="field is-grouped">
                    <p class="control">
                        <label for="atencion" class="label is-small">Busqueda por Nro. de Atención:</label>
                    </p>
                    <p class="control">
                        <input type="number" name="atencion" id="atencion" class="input is-small">
                    </p>
                    <p class="control">
                        <a id="btn_buscar" class="button is-small is-info has-tooltip-bottom" data-tooltip="Realizar Busqueda">
                            <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/buscar.png') }}" alt="icon"></i></span>
                        </a>
                    </p>
                </div>
                <section class="inter-scrollable-section">
                    <!-- Tabla Principal de Consultas -->
                    <table id="tablaConsultas" class="table is-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 3%; font-size: small;" scope="col">Atención</th>
                                <th style="width: 9%; font-size: small;" scope="col">Fecha</th>
                                <th style="width: 3%; font-size: small;" scope="col">Hora</th>
                                <th style="width: 25%; font-size: small;" scope="col">Paciente</th>
                                <th style="width: 25%; font-size: small;" scope="col">Medico Tratante</th>
                                <th style="width: 10%; font-size: small;" scope="col">Autorización</th>
                                <th style="width: 10%; font-size: small;" scope="col">Factura</th>
                                <th style="width: 20%; font-size: small;" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- {% for consulta in consultas %}
                            <tr>
                                <td class="valor_atencion" style="width: 3%; font-size: small;">{{ consulta.id }}</td>
                                <td style="width: 9%; font-size: small;">{{ consulta.fecha }}</td>
                                <td style="width: 3%; font-size: small;">{{ consulta.hora }}</td>
                                <td style="width: 25%; font-size: small;">{{ consulta.paciente }}</td>
                                <td style="width: 25%; font-size: small;">{{ consulta.medico }}</td>
                                <td class="valor_aut" style="width: 10%; font-size: small;">{{ consulta.aut }}</td>
                                <td class="valor_factura" style="width: 10%; font-size: small;">{{ consulta.numero_fact }}</td>
                                <td style="width: 22%;">
                                    <a class="enlace_anular_consulta button is-small is-danger has-tooltip-bottom" data-tooltip="Anular" style="padding: 0em 1.0em;">
                                        <span class="icon is-normal"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/basura.png') }}" alt="icon"></i></span>
                                    </a>
                                    <a href="/generar_factura_consulta/{{ consulta.id }}" class="enlace_factura button is-small is-primary has-tooltip-bottom" data-tooltip="Generar Factura" style="padding: 0em 1.0em;">
                                        <span class="icon is-normal"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/factura.png') }}" alt="icon"></i></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %} -->
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                Swal.fire({
                    title: "Notificación",
                    text: "{{ message }}",
                    icon: "{{ category }}"
                });
            })
        </script>
        {% endfor %}
    {% endif%}
{% endwith %}

<script src="{{ url_for('static', filename='js/consultas/consultas.js') }}"></script>

{% endblock %}