{% extends 'menu.html' %}

{% block css %}

{% endblock %}
{% block title %} Parametrización RDA {% endblock %}

{% block content %}
<h5 class="title is-5">Parametrización API RDA</h5>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('rda.add_parametro') }}" class="button is-small is-info">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png') }}" alt="icon"></i></span>
                <span>Nuevos Parametros</span>
            </a>
        </p>
        <p class="control">
            <a class="button is-small is-primary has-tooltip-bottom js-modal-trigger" data-tooltip="Información" data-target="modalInfoRDA">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/info.png') }}" alt="icon"></i></span>
            </a>
        </p>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Registros</p>
        </header>
        <div class="card-content">
            <div class="content">
                <!-- Tabla Registros RDA -->
                <table id="tablaParametrosRDA" class="table is-striped" style="width: 100%;">
                    <thead>

                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Informacion -->
<div id="modalInfoRDA" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Información</h5>
            <p style="text-align: justify; font-size: x-small;">
                Para la Parametrización y Transmisión de Interoperabilidad de la Historia Clinica Electronica IHCE. Se deben solicitar las respectivas llaves
                al Ministerio de Salud y Protección Social MSPS. A través de la plataforma SISPRO-IHCE cumpliendo los respectivos criterios.
            </p>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}

{% block scripts %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            Swal.fire({
                title: "Notificación!",
                text: "{{ message }}",
                icon: "{{ category }}"
            })
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}