body, html{
  width: 100%;
  height: 100%;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container > .login{
  height: auto;
  width: 100%;
  max-width: 620px;
  max-height: 300px;
}

.main-container > .hero-body{
  height: auto;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
}

