{% extends 'menu.html' %}

{% block css %}

{% endblock %}
{% block title %}Fuentes Contables{% endblock %}

{% block content %}
<h5 class="title is-5">Fuentes Contables</h5>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="#" class="button is-small is-info" aria-disabled="true" disabled>
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png') }}" alt="icon"></i></span>
                <span>Nueva Fuente Contable</span>
            </a>
        </p>
        <p class="control">
            <a class="button is-small is-primary has-tooltip-bottom js-modal-trigger" data-tooltip="Información" data-target="modal-informacionFuentes">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/info.png') }}" alt="icon"></i></span>
            </a>
        </p>
    </div>
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Fuentes Activas</p>
        </div>
        <div class="card-content">
            <div class="content">
                <!-- Tabla Fuentes -->
                <table id="tablaFuentes" class="table is-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%;">Fuente</th>
                            <th scope="col" style="width: 70%;">Nombre</th>
                            <th scope="col" style="width: 5%;">Prefijo</th>
                            <th scope="col" style="width: 5%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fuente in fuentes %}
                        <tr>
                            <td style="width: 10%;">{{ fuente.cod_fuente }}</td>
                            <td style="width: 70%;">{{ fuente.nom_fuente }}</td>
                            <td style="width: 5%;">{{ fuente.prefijo }}</td>
                            <td>
                                <a href="/edit_fuente/{{ fuente.cod_fuente }}" class="button is-small is-primary has-tooltip-bottom" data-tooltip="Editar" style="padding: 0em 1.0em;">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/editar.png') }}" alt="icon"></i></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Información -->
<div id="modal-informacionFuentes" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Información</h5>
            <p>Las fuentes contables se encuentran parametrizadas de forma predefenida.</p>
            <br>
            <p>Si necesita nuevas fuentes y nuevos modulos contables asociados, Pongase en contacto con el desarrollador de este software/aplicativo.</p>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}

{% block scripts %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                Swal.fire({
                    title: "Notificación!",
                    text: "{{ message }}",
                    icon: "{{ category }}"
                })
            })
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}