{% extends 'menu.html' %}

{% block css %}
{% endblock %}
{% block title %}Grupos de Servicios (Facturación){% endblock %}

{% block content %}
<h5 class="title is-5">Grupos de Servicios (Facturación)</h5>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('gruposervicios.add_gruposervicio') }}" class="button is-small is-info">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png') }}" alt="icon"></i></span>
                <span>Nuevo Grupo de Servicios</span>
            </a>
        </p>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Registros</p>
        </header>
        <div class="card-content">
            <div class="content">
                <table id="tablaGruposServicios" class="table is-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 25%;" scope="col">Codigo</th>
                            <th style="width: 50%;" scope="col">Nombre</th>
                            <th style="width: 25%;" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gserv in gservs %}
                        <tr>
                            <td class="valor_codgruposervicio" style="width: 25%;">{{ gserv.cod_grupo_servicio }}</td>
                            <td style="width: 50%;">{{ gserv.nom_grupo_servicio }}</td>
                            <td style="width: 25%;">
                                <a href="{{ url_for('gruposervicios.update_gruposervicio', id = gserv.cod_grupo_servicio) }}" class="button is-small is-primary has-tooltip-bottom" data-tooltip="Editar" style="padding: 0em 1.0em;">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/editar.png') }}" alt="icon"></i></span>
                                </a>
                                <a class="enlace_eliminar button is-small is-danger has-tooltip-bottom" data-tooltip="Eliminar" style="padding: 0em 1.0em;">
                                    <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/basura.png') }}" alt="icon"></i></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                Swal.fire({
                    title: "Notificación!",
                    text: "{{ message }}",
                    icon: "{{ category }}"
                });
            })
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
    const confirmacion = (cod_gruposervicio) => {
        Swal.fire({
            title: "Esta Seguro(a)?",
            text: "Esta acción no se puede revertir!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Si, Eliminar!",
            confirmButtonColor: "#48c78e",
            cancelButtonText: "No, Cancelar",
            cancelButtonColor: "#f14668",
            showCancelButton: true,
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/drop_gruposervicio/${cod_gruposervicio}`
            }
        });
    }

    $(document).ready(function(){
        $('#tablaGruposServicios').off('click', '.enlace_eliminar').on('click', '.enlace_eliminar', function(event){
            event.preventDefault();
            const fila = $(this).closest('tr')
            cod_gruposervicio = fila.find('.valor_codgruposervicio').text();
            confirmacion(cod_gruposervicio);
        })
    })
</script>
{% endblock %}