{% extends 'menu.html' %}

{% block css %}
<style>
    .inter-scrollable-section {
        height: 55vh;
        overflow-y: scroll;
        padding: 0rem 0rem;
    }
</style>
{% endblock %}
{% block title %}Anexar Documentos{% endblock %}

{% block content %}
<h5 class="title is-5">Anexar Documentos</h5>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('anexos.nuevo_anexo') }}" class="button is-small is-info">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png') }}" alt="icon"></i></span>
                <span>Nuevo Anexo</span>
            </a>
        </p>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Registros</p>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="field is-grouped">
                    <p class="control">
                        <label for="codigo" class="label is-small">Busqueda por Documento:</label>
                    </p>
                    <p class="control">
                        <input type="text" name="codigo" id="codigo" class="input is-small" required>
                    </p>
                    <p class="control">
                        <a id="btn_buscar" class="button is-small is-info has-tooltip-bottom" data-tooltip="Realizar Busqueda">
                            <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/buscar.png') }}" alt="icon"></i></span>
                        </a>
                    </p>
                </div>
                <section class="inter-scrollable-section">
                    <table id="tablaAnexos" class="table is-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size: small; width: 5%;">ID</th>
                                <th scope="col" style="font-size: small; width: 10%;">Documento</th>
                                <th scope="col" style="font-size: small; width: 20%;">Nombre</th>
                                <th scope="col" style="font-size: small; width: 10%;">Fecha</th>
                                <th scope="col" style="font-size: small; width: 20%;">Tipo</th>
                                <th scope="col" style="font-size: small; width: 5%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                Swal.fire({
                    title: "Notificación!",
                    text: "{{ message }}",
                    icon: "{{ category }}"
                })
            });
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<script src="{{ url_for('static', filename='js/anexos/anexos.js') }}"></script>
{% endblock %}