{% extends 'menu.html' %}

{% block css %}
<style>
    .inter-scrollable-section {
        height: 55vh;
        overflow-y: scroll;
        padding: 0rem 0rem;
    }
</style>
{% endblock %}
{% block title %}Bodegas Farmacia{% endblock %}

{% block content %}
<h5 class="title is-5">Bodegas de Farmacia</h5>
<div class="container">
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('bodegas.add_bodega') }}" class="button is-small is-info">
                <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/añadir.png')}}" alt="icon"></i></span>
                <span>Nueva Bodega</span>
            </a>
        </p>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Registros</p>
        </header>
        <div class="card-content">
            <div class="content">
                <section class="inter-scrollable-section">
                    <table id="tablaBodegas" class="table is-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 30%;">ID</th>
                                <th scope="col" style="width: 30%;">Nombre</th>
                                <th scope="col" style="width: 30%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bodega in bodegas %}
                            <tr>
                                <td class="valor_id" style="width: 30%;">{{ bodega.ID }}</td>
                                <td style="width: 30%;">{{ bodega.nombre }}</td>
                                <td style="width: 30%;">
                                    <a href="{{ url_for('bodegas.edit_bodega', id = bodega.ID )}}" class="button is-small is-primary has-tooltip-bottom" data-tooltip="Editar" style="padding: 0em 1.0em;">
                                        <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/editar.png')}}" alt="icon"></i></span>
                                    </a>
                                    <a onclick="confirmacion()" class="enlace_eliminar button is-small is-danger has-tooltip-bottom" data-tooltip="Eliminar" style="padding: 0em 1.0em;">
                                        <span class="icon is-small"><i aria-hidden="true"><img src="{{ url_for('static', filename='img/icons/basura.png')}}" alt="icon"></i></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            Swal.fire({
                title: "Notificación!",
                text: "{{ message }}",
                icon: "{{ category }}"
            })
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
    const confirmacion = (id_bodega) => {
        Swal.fire({
            title: "Esta Seguro(a)?",
            text: "Esta acción no se puede revertir!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Si, Eliminar!",
            confirmButtonColor: "#48c78e",
            cancelButtonText: "No, Cancelar",
            cancelButtonColor: "#f14668",
            showCancelButton: true,
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/drop_bodega/${id_bodega}`
            }
        });
    };

    $(document).ready(function(){
        $('#tablaBodegas').off('click', 'enlace_eliminar').on('click', '.enlace_eliminar', function(event){
            event.preventDefault();
            const fila = $(this).closest('tr');
            const id_bodega = fila.find('.valor_id').text();
            confirmacion(id_bodega);
        })
    });
</script>
{% endblock %}