<!DOCTYPE html>
<html lang="es" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma Framework -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-tooltip.min.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css"> -->
    <!-- Estilos Personales -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard-css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <!-- Fuentes -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <!-- FA Icons -->
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!-- CSS Datatables -->
    <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.1/css/bulma.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bulma.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
    <!-- CSS SweetAlert2 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <style>
        aside.aside {
            display: block;
            background: #3695e3;
        }
        
        aside.aside .aside-tools{
            background-color: #3695e3;
        }

        .menu-list a {
            color: #fff;
        }

        /* .menu-list a:hover{
            background-color: #3886c5;
        }
 */
        .menu-list a.is-active {
            background-color: #3886c5;
        }

        .menu-item {
            background-color: #3695e3;
        }

        .scrollable-section {
            max-height: 400px;
            overflow-y: auto;
            padding: 3rem 0rem;
        }
    </style>
    {% block css %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - ClinixOne</title>
</head>
<body>
    <div class="app">
        <nav id="navbar-main" class="navbar is-fixed-top" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
                    <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
                </a>
                <div class="navbar-item has-control">
                    <div class="control"><input placeholder="ClinixOne v. 1.0.0" class="input" disabled></div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider is-hoverable">
                    <a class="navbar-link is-arrowless">
                      <span class="icon"><i class="fa fa-user-circle"></i></span>
                      <span>{{ session['name'] }}</span>
                      <span class="icon"><i class="fa fa-chevron-down"></i></span>
                      <span hidden>
                        <input type="text" name="profile" id="profile" class="input is-small" value="{{ session['profile'] }}" readonly hidden>
                      </span>
                    </a>
                    <div class="navbar-dropdown">
                        <a href="https://api.whatsapp.com/send/?phone=573017094993&text=Hola+necesito+soporte&type=phone_number&app_absent=0" target="_blank" class="navbar-item">
                            <span class="icon"><i class="fa fa-question" aria-hidden="true"></i></span>
                            <span>¿Necesita Soporte?</span>
                        </a>
                        <a href="{{ url_for('Index.logout') }}" class="navbar-item">
                            <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                            <span>Cerrar Sesión</span>
                        </a>
                    </div>
            </div>
        </nav>
        <aside class="aside is-placed-left is-expanded">
            <div class="aside-tools">
                <div class="aside-tools-label">
                    <a href="#" style="color: white; align-items: center;">
                        <p>INTEGRAL SER IPS</p>
                        <!-- <img src="{{ url_for('static', filename='img/logo-prosperidad-vct.webp') }}" alt="logo-prosperidad" width="150" height="150"> -->
                    </a>
                </div>
            </div>
            <div class="menu is-menu-main">
                <p class="menu-label" style="color: white;">Menú Principal</p>
                <ul class="menu-list is-hidden" id="toogle-list-1">
                    <li>
                        <a class="has-icon has-dropdown-icon">
                            <span class="icon is-small"><i class="fa fa-cog"></i></span>
                            <span class="menu-item-label">Parametrización</span>
                            <div class="dropdown-icon">
                                <span class="icon"><i class="fa fa-plus"></i></span>
                            </div>
                        </a>
                        <ul id="list-1">
                            <li class="menu-item"><a href="{{ url_for('entidad.entidad') }}" class="router-link-active">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Datos Entidad</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('usuarios.usuarios') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Usuarios</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('ufuncionales.ufuncionales') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Unidades Funcionales</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('tarifas.tarifas') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Tarifas</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('gruposervicios.gruposervicios') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Grupos Servs. Tarifa</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('servicios.servicios') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Servicios Asoc. Tarifa</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('administradoras.administradoras') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Administradoras P.B.</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('medicos.medicos') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Medicos</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('habitaciones.habitaciones') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Habitaciones</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('resfacturacion.resfacturacion') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Res. F.E. SS</span>
                            </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="menu-list is-hidden" id="toogle-list-2">
                    <li>
                        <a class="has-icon has-dropdown-icon">
                            <span class="icon is-small"><i class="fa fa-stethoscope"></i></span>
                            <span class="menu-item-label">Gestión Medica</span>
                            <div class="dropdown-icon">
                                <span class="icon"><i class="fa fa-plus"></i></span>
                            </div>
                        </a>
                        <ul id="list-2">
                            <li class="menu-item"><a href="{{ url_for('pacientes.pacientes') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Pacientes</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('consultas.consultas') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Ing. Cons. Externa</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('hospitalizacion.hospitalizacion') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Ing. Hospitalización</span>
                            </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="menu-list is-hidden" id="toogle-list-3">
                    <li>
                        <a class="has-icon has-dropdown-icon">
                            <span class="icon is-small"><i class="fa fa-user-md"></i></span>
                            <span class="menu-item-label">Atención Medica</span>
                            <div class="dropdown-icon">
                                <span class="icon"><i class="fa fa-plus"></i></span>
                            </div>
                        </a>
                        <ul id="list-3">
                            <li class="menu-item"><a href="{{ url_for('atenciones.atenciones', medico = session['document']) }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Atención de Citas</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('atenciones.atenciones_hosp') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Atención por Hosp.</span>
                            </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="menu-list is-hidden" id="toogle-list-4">
                    <li>
                        <a class="has-icon has-dropdown-icon">
                            <span class="icon is-small"><i class="fa fa-dollar"></i></span>
                            <span class="menu-item-label">Financiero</span>
                            <div class="dropdown-icon">
                                <span class="icon"><i class="fa fa-plus"></i></span>
                            </div>
                        </a>
                        <ul id="list-4">
                            <li class="menu-item"><a href="{{ url_for('terceros.terceros') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                <span>Terceros</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('plancuentas.plancuentas') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right"></i></span>
                                <span>Plan de Cuentas (PUC)</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('fuentes.fuentes') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right"></i></span>
                                <span>Fuentes Contables</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('facturas.facturas') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right"></i></span>
                                <span>Gestión Facturas</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('facturas.emitir_facturas') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right"></i></span>
                                <span>Emisión Facturas</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('rips.rips') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right"></i></span>
                                <span>Generar RIPS (Res. 2275 - 2023)</span>
                            </a></li>
                            <li class="menu-item"><a href="{{ url_for('notascredito.notas_credito') }}">
                                <span class="icon is-small"><i class="fa fa-arrow-circle-right"></i></span>
                                <span>Notas Credito</span>
                            </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        <section class="section is-main-section">
            {% block content %}
            {% endblock %}
        </section>
    </div>
</body>

<script src="{{ url_for('static', filename='js/main.min.js')}}"></script>
<!-- Dashboards -->
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<!-- Script Modals -->
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<!-- Script SweetAlert2 -->
<script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
<!-- Scripts DataTables -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bulma.js"></script>
<!-- Script Invoke DataTables -->
<script src="{{ url_for('static', filename='js/dataTables.js') }}"></script>
{% block scripts %}
{% endblock %}
</html>